<div class="cover-show">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">子供のプロフィール登録</h1>
    </div>
    <div class="row justify-content-center d-block">
    <%= form_with model: @child, url: user_children_path(current_user), methood: :patch do |f| %>
      <h4>名前</h4>
      <%= f.text_field :name %>
      
      <h4>カナ</h4>
      <%= f.text_field :name_kana %>
      
      <h4>誕生日</h4>
      <%= f.text_field :birthday %>
      
      <h4>性別</h4>
      <%#= form_with(model: @child, local: true) do |form| %>
        <%= f.radio_button :gender, :male %>
        <%= f.label :gender, "男の子", {value: :male, style: "display: inline-block;"} %>
        <%= f.radio_button :gender, :female %>
        <%= f.label :gender, "女の子", {value: :female, style: "display: inline-block;"} %>
      <%# end %>
    	
      <h4>性格・特徴</h4>
      <%= f.text_area :personality %>
      
      <h4>画像</h4>
      <%= f.file_field :profile_image, accept: "image/*" %>
      
      <%= f.submit '登録する',  class: "btn btn-success" %>
    <% end %>
    <br>
    <%= link_to '戻る', user_path(current_user) %>
    </div>
  </div>
</div>