<div class="cover-show">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">子供のプロフィール</h1>
    </div>
    <div class="row justify-content-center d-block">
    <div class="row">
      <div class="col-6">
        <% if @child.profile_image.attached? %>
          <%= image_tag @child.profile_image, size: "300x300" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </div>
      <div class="col-6">
        <h3>名前</h3>
        <p><%= @child.name %></p>
        
        <h3>カナ</h3>
        <p><%= @child.name_kana %></p>
        
        <h3>誕生日</h3>
        <p><%= @child.birthday %></p>
        
        <h3>性別</h3>
        <p><%= @child.gender_i18n %></p>
        
        <h3>性格・特徴</h3>
        <p><%= @child.personality %></p>
        
        <%= link_to '投稿する', new_post_path(@child.id), class: "btn btn-success" %>
        <%= link_to '投稿一覧', posts_path(child_id: @child.id), class: "btn btn-info" %>
        <%= link_to '編集する', edit_user_child_path(current_user,@child.id), class: "btn btn-warning" %>
        <%#= link_to '削除', user_path(current_user), method: :delete %>
      </div>
    </div>  
    </div>
  </div>
</div>
  
   
    