<h1>子供のプロフィール</h1>
<h2>名前</h2>
<p><%= @child.name %></p>

<h2>カナ</h2>
<p><%= @child.name_kana %></p>

<h2>誕生日</h2>
<p><%= @child.birthday %></p>

<h2>性別</h2>
<p><%= @child.gender %></p>

<h2>性格・特徴</h2>
<p><%= @child.personality %></p>
  