<div class="cover-show">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="font-weight-normal mt-5 mb-5">投稿編集画面</h1>
    </div>
    <div class="row justify-content-center d-block">
      <% if @post.errors.any? %>
      <%= @post.errors.count %>error prohibited this obj from being saved:
      <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
      <% end %>
      
      <%= form_with model: @post do |f| %>
      <h4>タイトル</h4>
      <%= f.text_field :title %><br>
      
      <p>
      <%= image_tag @post.get_profile_image(300, 300) %>
      </p>
      
      <h4>内容</h4>
      <%= f.text_area :content %><br>
      
      <h4>タグ</h4>
      <%= f.text_field :tag_list %><br>
      
      <%= f.submit '変更する', class: "btn btn-success" %>
     
      <% end %>
      <br>
      <%= link_to "戻る", post_path(@post.id) %>
      
    </div>
  </div>
</div>