<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>投稿詳細画面</h1>
      
      <% if @post.errors.any? %>
      <%= @post.errors.count %>error prohibited this obj from being saved:
      <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
      <% end %>
      
      <%= form_with model: @post do |f| %>
      <h4>タイトル</h4>
      <P><%= @post.title %></P>
    
      <h4>内容</h4>
      <p><%= @post.content %></p><br>
      
      <p>画像</p>
      <%= image_tag @post.get_profile_image(300, 300) %><br>
      <br>
      <%= link_to '戻る', user_path(current_user), class: "btn btn-success" %>
     
      <% end %>
      <br>
      <%= link_to "編集する", edit_post_path(@post.id) %>
      
      <%= link_to "削除する", post_path %>
      <div>
        <p>コメント件数：<%= @post.post_comments.count %></p>
        <% @post.post_comments.each do |post_comment| %>
          <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>