
<div class="row">
  <%= form_with(model: @user, url: user_registration_path) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container">
      <div class="card-container">
        <div class="card-body">
          <h2 class="card-title text-center mb-4 mt-1">新規登録</h2>
          
          <div class="field">
          <%= f.label :name, "(姓)" "(名)"%><br>
          <%= f.text_field :last_name,autoforcus: true %>  <%= f.text_field :first_name,autoforcus: true %>
          </div><br>
  
          <div class="row">
            <div class="col-lg-4">
            <h6>性別</h6>
            <%= form_with(model: @user, local: true) do |form| %>
              <%= form.radio_button :gender, :male %>
              <%= form.label :gender, "男性", {value: :male, style: "display: inline-block;"} %>
              <%= form.radio_button :gender, :female %>
              <%= form.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
            <% end %>
            </div>
          </div><br>
          
          <div class="row">
            <div class="col-lg-8">
            <h6>生年月日</h6>
                <!--<div class="field">-->
              <%= f.date_select :birthday, {start_year: 1950, end_year: 2016,
                include_blank: true, use_two_digit_numbers: true},
                {class: "input-tab birthday-select"}%>
                <%#= f.label :birthday, '生年月日' %><br>
                <%#= f.text_field :birthday %>
            </div>
          </div><br>
      
          <div class="col-8">
            <div class="field">
            <%= f.label :email, 'メールアドレス' %><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
            
          <div class="col-9">
            <div class="field">
            <%= f.label :password, 'パスワード' %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br>
            <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>
            
          <div class="col-9">
            <div class="field", 'パスワード確認'>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
             </div><br>
          </div>
          
          <div class="actions">
            <%= f.submit "登録する" %>
          </div>
        </div>
      </div>
    </div>    
    <% end %>
    <%#= render "devise/shared/links" %>
</div>